In [1]:
8178

8178

In [1]:
a= 23
b =3.111
c = "hello"
d =True
e = None

In [5]:
fruits = ["apple" , "banana" , "cherry"]
coords = (3, 3, 2)
items = {12, 5, 2, 12, 13}
person = {"name":"John" , "age": 36, "country": "Norway"}

In [6]:
a = [2,5,6,12,11,21,22,51]

In [1]:
11 in a

NameError: name 'a' is not defined

In [19]:
name = input('Enter  Name')
college = input('college name')
age = int(input('age'))
height = float(input('height'))

ValueError: invalid literal for int() with base 10: '65]'

In [9]:
print("your details")
print("college")

print("age")
print("height")

your details
bbdu
age
height

In [17]:

print('Name:',name, 'College:' ,college, 'Age:' , age)

Name:  College: bbdu Age: 32

In [16]:
print('My name is {name}, I am {age} year old')

My name is {name}, I am {age} year old

In [25]:
p = int(input ('Enter a number'))
r = float(input('Enter rate'))
t = int(input('Enter time'))
si = p*r*t/100
print(f'➡️ Principal = {p}')
print(f'➡️ Rate ={r}')
print(f'➡️ Time = {t}')
print('--'*10)
print(f'➡️ Simple Intrest = {si}')

➡️ Principal = 10000
➡️ Rate =2.33
➡️ Time = 10
--------------------
➡️ Simple Intrest = 2330.0

In [28]:
price = int(input('enter total price'))
if price >= 2000:
    discount = price * .05 
    price -= discount
print(price)

1900.0

In [30]:
num = 299
if num % 2 == 0:
    print('even')
else:
     print('odd')

odd

In [3]:
l = float(input('Enter a length'))
b = float(input('Enter a breadth'))
c = l*b
print('area of rectangle' , c)

area of rectangle 12.0

In [1]:
x = [1,2,3,4,5]
for i in x:
    print(i)

1
2
3
4
5

In [2]:
#range() function - generates a sequence of number
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [3]:
#range(stop) function - generate a sequence number
for i in range(10, 15):
    print(i)

10
11
12
13
14

In [4]:
#range (start, stop, step) - generate number from start to stop, incrementing by step
for i in range(10,20, 2):
    print(i)

10
12
14
16
18

In [5]:
total = 0
i = 1
while i <=10:
    total += i
    i += 1
print(total)

55

In [7]:
x = [1,0,2,0,3,4,5,]
for i in x:
    if i == 0:
        continue
    print(i)

1
2
3
4
5

In [11]:
x = [1,2,0,3,4,5,]
for i in x:
    if i == 0:
        break
    print(i)

1
2

In [1]:
for i in range(1, 11):
    print(f"2 * {i}= {2 * i}")

2 * 1= 2
2 * 2= 4
2 * 3= 6
2 * 4= 8
2 * 5= 10
2 * 6= 12
2 * 7= 14
2 * 8= 16
2 * 9= 18
2 * 10= 20

In [2]:
for i in range(1, 11):
    table = 2 * i
    print(f"2 * {i}= {table}")

2 * 1= 2
2 * 2= 4
2 * 3= 6
2 * 4= 8
2 * 5= 10
2 * 6= 12
2 * 7= 14
2 * 8= 16
2 * 9= 18
2 * 10= 20

In [1]:
a = 10
b = 20
c = (a+b)/2
print(c)

15.0